<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leeshani.com.roomdatabases">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternNa">
        <activity
            android:name=".ui.editstudent.EditStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addstudent.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addclass.AddClassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>